@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
.my_table thead th:last-child{
	width:100px;
}
.my_table thead th:first-child{
	width:50px;
}
.my_table thead th:nth-child(3){
	width:100px;
}
.my_table thead th:nth-last-child(2){
	width:200px;
}